html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/*carousel style*/

.carousel-inner img {
  width: 100%;
  height: 605px;
}

.referencesClass .carousel-inner .carousel-item iframe { width: 100%; }

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gallery .carousel-caption { top: 80%; }

#gallery .carousel-caption h5 { font-size: 150%; }

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.breadcrumb {
	margin-bottom: 0;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #6648b1;
}

.jumbotron-fluid { margin-bottom: 0; }

/*about page style start*/

#about .jumbotron {
	width: 100%;
	height: 80%;
	margin-bottom: 8px;
	background-image: url('../img/me2.png');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	margin-top: 5em;
	background: rgba(0,0,0,.4);
	color: white;
}

/*about page style end*/

/*skills page style start*/

#my-skills { 
	max-width: 100%;
	height: auto;
	background-color: lightgrey;
	margin: 5px;
	padding: 5px;
}

#my-skills h3 { 
	background: rgba(0,0,0,1); 
	color: white;
	line-height: 45px;
}

#progressbar-section {
	max-width: 100%;
	padding: 10px;
	text-align: left;
}

#progressbar-section h5 { padding-top: 15px; }

.progress { max-width: 90%; }

.progressbar-subsection .badge { float: right; }

#badge-bottom { display: none; }

/*skills page style end*/

/*education page style start*/

#accordion img:hover { cursor: pointer; }

.card { margin-bottom: 15px; }

.card-header { padding: 5px; }

.card-header h5 { margin: 0; }

.card-body { 
	padding: 10px;
	padding-left: 15px; 
}

.card-body p { padding: 0; }

.card-text { font-size: 18px; }

#header1 a, { max-width: 100%; }

/*education page style end*/

/*resume page style start*/

.btn-group { 
	margin-top: 25px; 
	margin-bottom: 10px; 
}

/*resume page style end*/

/*contact page style start*/

form { width: 70%; }

.form-group { font-size: 110%; }

#submit1, #reset1 { top: 40%; }

.fa {
  	font-size: 40px;
  	width: 70px;
  	text-align: center;
  	margin: 10px 5px;
  	padding: 10px;
  	border-top-left-radius: 40%;
  	border-bottom-right-radius: 40%;
}

.fa:hover { color: white; }

#social-media { margin-top: 50px; }

#social-media a { text-decoration: none; }

.fa-facebook {
  	background: #3B5998;
  	color: white;
}

.fa-instagram {
  	background: #d6249f;
  	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  	color: #fff;
}

.fa-twitter {
  	background: #55ACEE;
  	color: white;
}

.fa-github {
	background: black;
	color: white;
}

/*contact page style end*/

#showmore:hover { cursor: pointer; }

@media (max-width: 768px) {
	.carousel-inner img {
		width: 100%;
		height: 100%;
	}

	.referencesClass .carousel-inner .carousel-item iframe { width: 100%; height: 100%; }

	.carousel-caption { top: 45%; }

	#gallery .carousel-caption { top: 65%; }

	.carousel-caption h1 { font-size: 350%; }

	.carousel-caption h3 {
	  font-size: 140%;
	  font-weight: 400;
	  padding-bottom: .2rem;
	}

	.carousel-caption .btn {
	  font-size: 95%;
	  padding: 8px 14px;
	}

	.display-4 { font-size: 200%; }

	/*about page style start*/

	#about .jumbotron { height: 100%; }

	.container {
		margin-top: 5em;
		background: rgba(0,0,0,.5);
		color: white;
		font-size: 110%;
	}

	/*about page style end*/

	/*skills page style start*/

	#badge-right { display: none; }

	#badge-bottom { display: inline-block; }

	/*skills page style end*/

	/*education page style start*/

	#accordion .card-body { font-size: 180%; }

	/*education page style end*/

	/*resume page style start*/

	.btn-group { 
		margin-top: 10px; 
		margin-bottom: 10px; 
	}

	/*resume page style end*/

	/*contact page style start*/

	form { width: 100%; }

	/*contact page style end*/
}

@media (max-width: 576px) {
	.carousel-inner img {
		width: 100%;
		height: 100%;
	}

	.carousel-caption { top: 40%; }

	#gallery .carousel-caption { top: 65%; }

	.carousel-caption h1 { font-size: 250%; }

	.carousel-caption h3 { font-size: 110%; }
	.carousel-caption .btn {
	  font-size: 90%;
	  padding: 4px 8px;
	}

	.carousel-indicators { display: none; }

	.display-4 { font-size: 160%; }

	/*about page style start*/

	#about .jumbotron { height: 100%; }

	.container {
		margin-top: 5em;
		padding-top: 5px;
		background: rgba(0,0,0,.5);
		color: white;
		font-size: 110%;
	}

	/*about page style end*/

	/*skills page style start*/

	/*skills page style end*/

	/*education page style start*/

	#accordion .card-body { font-size: 150%; }

	/*education page style end*/

	/*resume page style start*/

	/*resume page style end*/
	/*contact page style start*/

	form { width: 100%; }

	/*contact page style end*/
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

@media (max-width: 375px) {
	#about .jumbotron {
		height: 130%;
	}
	.container {
		margin-top: 4em;
		padding-top: 5px;
		background: rgba(0,0,0,.5);
		color: white;
		font-size: 110%;
	}
	#accordion .card-body { font-size: 150%; }
}

@media (max-width: 320px) {
	#about .jumbotron {
		height: 170%;
	}
	.container {
		margin-top: 4em;
		padding-top: 5px;
		background: rgba(0,0,0,.5);
		color: white;
		font-size: 90%;
	}
	#accordion .card-body { font-size: 150%; }
}

@media screen and (min-width: 1024px) {
	#accordion .card-body { font-size: 140%; }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/